<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Mini Whatsapp</title>
  </head>
  <body>
    <h1>All chats</h1>

    <div class="main">
      <form method="get" action="/new">
        <button>New chat</button>
      </form>
      <% chats.map((x)=>{ %>
      <div class="chats">
        <p class="title">From: <%= x.from %></p>
        <p class="title">To: <%= x.to %></p>
        <div class="msg">
          <p><%= x.msg %></p>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
